.header-container {
    background-color: black;
}

.header-container nav a{
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.header-container-1 {
    height: 50px;
    display: flex;
}

li {
    display: inline-block;
    margin: 14px;
}